
/* HACER COMENTARIOS = CTRL + SHIFT + 7 */

/* DEFINICIÓN DE VARIABLES DE COLORES */
:root {
    --primary-color: #076896;
    --primary-color_transparencia: #07689666;
    --boton_activo: #004466;
    --color-fondo_caja: rgb(234, 246, 251);
    --color-borde-caja: #006699;
    --secondary-color: #f0fff0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

header, main, footer {
    background-color: aquamarine;
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-bottom: 8px;
    border-radius: 0 0 4px 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    box-shadow: 0 0.2rem 0.2rem rgb(4, 28, 54);   
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.3rem 0.6rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

section {
    background-color: white;
    box-shadow: 0 2px 4px rgb(65, 59, 59);
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;
}

section h2 {
    color: #006699;
    margin-bottom: 0.5rem;
}

/* Pseudoclases */
.btn, .btn-sec {
    /* border: 2px solid #006699; */
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: white;
    padding: 0.4rem 0.8rem;
    margin: 0.3rem 0.3rem 0.6rem 0;
    color: var(--primdary-color);
    text-decoration: none;
    cursor: pointer;
}
.btn:hover, .btn-sec:hover {
    background-color: var(--primary-color_transparencia);
    transition: background-color 0.5s;
}

.btn:activo, .btn-sec:active {
    background-color: var(--boton_activo);
}

input [type="text"] {
    border: 1px solid #999;
    padding: 0.3rem;
    margin-top: 0.3rem;
    border-radius: 4px;
}

input:focus {
    outline: 1px solid var(--primary-color);
}

/* Estilos para la lista */
.lista-demo {
    margin-top: 0.8rem;
    padding-left: 1.2rem;
}

.lista-demo li {
    margin: 0.2rem 0;
    opacity: 0.8;
    transition: opacity 0.3s;
}

/* PARA UNO EN ESPECIFICO = nth-child(1,2,3,etc) */

.lista-demo li:first-child {
    font-weight: bold;
    color: var(--boton_activo);
    opacity: 1;
}

.lista-demo li:hover {
    opacity: 1;
}

.caja {
    background-color: var(--color-fondo_caja);
    border: 3px solid var(--color-borde-caja);
    border-radius: 8px;
    margin: 1rem;
    padding: 1rem;
}

/* span que es hijo directo de #contenedor
fondo azul muy claro (#d0f0f5),
borde 1px sólido #006699,
relleno 0.3rem,
margen inferior 0.3rem */
#contenedor > span {
    /* inline-block: Para que podamos ponerle margen 
    - propiedades de dimensiones */
    display: inline-block;
    background-color: var(--color-fondo_caja);
    border: 1px solid var(--color-borde-caja);
    padding: 0.3rem;
    margin-bottom: 1rem;
}

#contenedor + p {
    background-color: var(--secondary-color);
    border-left: 4px solid green;
    padding-left: 0.4rem;
}
